<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfApplication1.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WpfApplication1.MySettings>
            <setting name="ADUser" serializeAs="String">
                <value>82ebe015-e84b-44fa-83d7-332ddb34c2ba</value>
            </setting>
        </WpfApplication1.MySettings>
    </userSettings>
    <applicationSettings>
        <WpfApplication1.MySettings>
            <setting name="WpfApplication" serializeAs="String">
                <value>PACIFICCOASTAQUARIUM.COM

</value>
            </setting>
            <setting name="ADDomin" serializeAs="String">
                <value>ae8a32ca-8c02-436d-ad4b-8c3726dfc4b6</value>
            </setting>
        </WpfApplication1.MySettings>
    </applicationSettings>
</configuration>